/*Documento padrão, resetando o CSS e setando o meu root*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	/*Variáveis para serem utilizadas diversas vezes no meu projeto*/

	--hue: 194;
	--bg-color: hsl(0, 0%, 100%);
	--text-color: hsl(240, 6%, 21%, 1);
	--controls-bg-color: hsl(var(--hue), 0%, 14%);
	--button-secondary: hsl(var(--hue), 40%, 98%);
	--card-blur-color: hsl(240, 9%, 89%, 1);
	--card-image-blur-color: hsl(240, 6%, 21%, 1);
	--card-focus-color: hsl(166, 79%, 32%);
	--card-image-focus-color: hsl(0, 0%, 100%, 1);

	font-size: clamp(40%, 1% + 2vw, 62.5%);
}

ul {
	list-style: none;
}
html,
body,
input {
	font-family: 'Mulish', sans-serif;
}
